<!DOCTYPE html>
<html lang="en">
	<head>
		<title>World of Rodney</title>

		<script src="/js/log4javascript.js"></script>
		<script src="/js/lib/prototype.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/player.js"></script>
		<script src="/js/item.js"></script>
		<script src="/js/messages.js"></script>
		<script src="/js/inventory.js"></script>
		<script src="/js/map.js"></script>
		<link rel="stylesheet" type="text/css" href="default.css">
		<link rel="stylesheet" type="text/css" href="css/map.css">
		<link rel="stylesheet" type="text/css" href="css/game.css">

	</head>
	<body>

		<div id="panel">
		</div>
		<div id="map"></div>

		<input type="hidden" id="account" value="{{account.username}}"/>
		<input type="hidden" id="password" value="{{account.password}}"/>
		<input type="hidden" id="actorid" value="{{actor.id}}"/>

	</body>
</html>
