h2 {
	margin: 0px;
	font-size: 125%;
	font-weight: bold;
	font-variant: small-caps;
}

table.top_level {
	width: 100%;
}

table.top_level td {
	margin: 5px;
	padding: 5px;
}

table.top_level table td {
	border: 0px none;
}

tr.hex_corner {
	text-align: center
}

tr.hex_corner td {
	margin: 0px;
	padding: 0px;
}

.middle_panel_cell {
	vertical-align: top;
}

#left_panel_cell {
	width: 30%;
}

#top_panel table {
	width: 100%;
}

#top_panel td {
	border: 0px none;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.panel {
	background: #ddd;
	border: 2px solid black;
	padding: 5px;
	margin: 2px;
}

#inventory_panel {
	border: 3px green solid;
	padding: 5px;
	top: 10%;
	bottom: 10%;
	left: 20%;
	right: 20%;
	position: fixed;
	background-color: #dfd;
	visibility: hidden;
}

#inventory_panel td {
	width: 33%;
}

div.message {
	border: 3px solid #aaa;
	background-color: #ccc;
	padding: 0px 6px;
	margin: 3px;
	border-radius: 12px;
	-moz-border-radius: 12px;
}

div.msg_type_rodney {
	border-color: #f00;
	background-color: #fcc;
}

div.msg_type_sound {
	border-color: #ff0;
	background-color: #ffc;
}

div.msg_type_zombie {
	border-color: #5f0;
	background-color: #cfe;
}

span.timestamp {
	font-style: italic;
	font-size: 65%;
	display: block;
}
