body {
	font-family: sans-serif;
}

#map {
	position: relative;
	margin-left: 310px;
	border: solid silver 1px;
	overflow: hidden;
	height: 500px;
}

#map-layer {
	position: absolute;
	top: 35%;
	left: 45%;
}

#panel {
	float: left;
	width: 300px;
	height: 500px;
	border: solid silver 1px;
}

