body {
	font-family: 'Trebuchet MS', sans-serif;
	background: url('/img/page-bg.png') white repeat-x top left;
}

body#night {
	background: url('/img/page-bg-night.png') black repeat-x top left;
}

body#sunrise {
	background: url('/img/page-bg-sunrise.png') #b4b4b4 repeat-x top left;
}

body#sunset {
	background: url('/img/page-bg-sunset.png') #b4b4b4 repeat-x top left;
}

#panel {
	position: absolute;
	left: 5px;
	top: 5px;

	width: 250px;
}

#map {
	margin-left: 300px;
	position: relative;
}


#map-bubble {
	position: absolute;
	z-index: 100000;

	background-color: white;
	border: solid black 1px;
	padding: 5px;

	width: 460px;

	left: -176px;
	bottom: 150px;

	color: #444;

	text-align: left;
	
	-moz-border-radius: 6px;
}

#map-bubble .description {
	font-size: 13px;
	margin: 0 5px 6px;
	text-align: justify;
}

#panel .panel h3,
#map-bubble > h3 {
	margin: 0 3px 5px;
	font-weight: normal;
	font-size: 20px;
}

#scrollpane {
	max-height: 300px;
	overflow: auto;
}

#map-bubble #bubble-close {
	position: absolute;
	top: 8px;
	right: 8px;
}

#map-bubble #bubble-tail {
	position: absolute;
	bottom: -58px;
	left: 216px;
}

#map-bubble .playersection,
#map-bubble .objectsection {
	border: solid #d5c480 1px;
	background-color: #fff7d5;
	padding: 5px 8px;

	-moz-border-radius: 4px;
	color: black;
}

#map-bubble p {
	margin: 0;
}


#panel .panel {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.4);
	border: solid black 1px;

	color: black;

	-moz-border-radius: 6px;

	margin-bottom: 8px;
}

#messages {
	font-size: 90%;
}

#night #panel .panel {
	background-color: rgba(0, 0, 0, 0.4);
	border-color: #448;
	color: #66A;
}

#panel .panel p {
	padding-top: 5px;
	margin: 5px 0;
}

#panel .panel p span {
	margin: 0 1em;
}

#panel .panel p img {
	vertical-align: -2px;
}

.alignicon {
	vertical-align: -7px;
}

.collapsible {
	background: url('/icons/collapsible-closed.png') no-repeat 5px 7px;
}

.collapsible:hover,
.collapsible-open {
	background: url('/icons/collapsible-open.png') no-repeat 4px 8px;
}

.collapsible-empty,
.collapsible-empty:hover {
	background-image: none;
}

.collapsible .head {
	padding-left: 20px;
	cursor: pointer;
}

.collapsible .head h3 {
	display: inline;
	font-size: 17px;
	font-weight: normal;
	margin-right: 1em;
}

.collapsible .head span {
	font-size: 12px;
}

.collapsible .contents {
	margin: 2px 0 2px 20px;
}

#movement {
	position: relative;
        height: 55px;
}

#movement .action {
	position: absolute;
}

#movement .action button {
    font-size: 10px;
}

#movement #action-move-LR {
	top: 40px;
	right: 25px;
}

#movement #action-move-LL {
	top: 40px;
	left: 25px;
}

#movement #action-move-L {
	top: 20px;
	left: 0px;
}

#movement #action-move-R {
	top: 20px;
	right: 0px;
}

#movement #action-move-UR {
	top: 0px;
	right: 25px;
}

#movement #action-move-UL {
	top: 0;
	left: 25px;
}

.actor {
	position: absolute;
}

/* for messagebox */

#inventory_panel,
#messagebox {
	position: absolute;
	z-index: 100000;

	background-color: white;
	border: solid black 1px;
	padding: 5px 15px;

	width: 460px;

	color: #444;

	text-align: left;
	
	-moz-border-radius: 6px;
}

#inventory_panel {
	width: 700px;
}

#inventory_panel h3,
#messagebox h3 {
	margin: 0;
	font-weight: normal;
}

#messagebox h3.error {
	color: #800;
}

#messagebox p {
	margin: 0.5em 0;
}

#inventory_panel #close,
#messagebox #close {
	position: absolute;
	top: 8px;
	right: 8px;
}

#washout {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
	z-index: 99999;
        background-color: black;
        opacity: 0.6;
        filter: alpha(opacity=0.6);
        cursor: pointer;
}

form.action {
	text-align: right;
}

.fire {
	color: #800000;
}

.wood {
	color: #1d6b1d;
}

.metal {
	color: #4d4d4d;
}

.earth {
	color: #803300;
}

.water {
	color: #1d5a69;
}
