.loc,
.emptyloc {
	width: 105px;
	height: 100px;
	text-align: center;
	position: absolute;
}

.loc img.tile {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.loc a {
	display: block;
	margin: 35px 5px 0;
	font-size: 0.8em;
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

.loc a:hover {
	color: white;
	text-shadow: 1px 1px 1px black;
	text-decoration: underline;
}


.emptyloc a img {
	border: none;
	margin: 45px 0;
}

